# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [5]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [6]:
# Drop the date column
#df.set_index('date') already drops the date column so note adding explicit drop as there is no more column date in the axis

### Compare June and December data across all years

In [7]:
from scipy import stats

In [12]:
# Filter data for desired months
june_df = df[df.index.month == 6]
december_df = df[df.index.month == 12]

june_df.head()
december_df.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [14]:
# Identify the average temperature for June
print (f"The Average Temperature for all June data: {june_df['tobs'].mean().round(2)}")

The Average Temperature for all June data: 74.94

In [15]:
# Identify the average temperature for December
print (f"The Average Temperature for all June data: {december_df['tobs'].mean().round(2)}")

The Average Temperature for all June data: 71.04

In [20]:
# Create collections of temperature data
june_tobs = june_df['tobs']
december_tobs = december_df['tobs']

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1517, dtype: int64

In [21]:
# Run paired t-test
stats.ttest_ind(june_tobs, december_tobs)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

A paired T Test was conducted and the result was a low P Value, indicating that the data did not occur just by chance, and that the difference between the data sets is statistically significant. Data was gathered independently of stations observing temperature data.